<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
 <extension
         point="org.knime.core.PortType">
      <portType
            color="#8fb3c2"
            hidden="false"
            name="Keras Deep Learning Network"
            objectClass="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObject"
            objectSerializer="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObject$Serializer"
            specClass="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObjectSpec"
            specSerializer="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#8fb3c2"
            hidden="false"
            name="Keras Deep Learning Network"
            objectClass="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObject"
            objectSerializer="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObject$Serializer"
            specClass="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObjectSpec"
            specSerializer="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.dl.DLExecutionContext">
      <DLExecutionContext
            DLExecutionContext="org.knime.dl.keras.cntk.core.execution.DLKerasCNTKDefaultExecutionContext">
      </DLExecutionContext>
      <DLExecutionContext
            DLExecutionContext="org.knime.dl.keras.tensorflow.core.execution.DLKerasTensorFlowDefaultExecutionContext">
      </DLExecutionContext>
      <DLExecutionContext
            DLExecutionContext="org.knime.dl.keras.theano.core.execution.DLKerasTheanoDefaultExecutionContext">
      </DLExecutionContext>
   </extension>
   <extension
         point="org.knime.dl.DLTrainingContext">
      <DLTrainingContext
            DLTrainingContext="org.knime.dl.keras.cntk.core.training.DLKerasCNTKDefaultTrainingContext">
      </DLTrainingContext>
      <DLTrainingContext
            DLTrainingContext="org.knime.dl.keras.tensorflow.core.training.DLKerasTensorFlowDefaultTrainingContext">
      </DLTrainingContext>
      <DLTrainingContext
            DLTrainingContext="org.knime.dl.keras.theano.core.training.DLKerasTheanoDefaultTrainingContext">
      </DLTrainingContext>
   </extension>
   <extension
         point="org.knime.dl.python.DLPythonNetworkLoader">
      <DLPythonNetworkLoader
            DLPythonNetworkLoader="org.knime.dl.keras.cntk.core.DLKerasCNTKNetworkLoader">
      </DLPythonNetworkLoader>
      <DLPythonNetworkLoader
            DLPythonNetworkLoader="org.knime.dl.keras.theano.core.DLKerasTheanoNetworkLoader">
      </DLPythonNetworkLoader>
      <DLPythonNetworkLoader
            DLPythonNetworkLoader="org.knime.dl.keras.tensorflow.core.DLKerasTensorFlowNetworkLoader">
      </DLPythonNetworkLoader>
   </extension>
   <extension
         point="org.knime.python.modules">
      <directory
            path="py/">
      </directory>
   </extension>
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/keras.png"
            level-id="keras"
            locked="true"
            name="Keras"
            path="/labs/deeplearning">
      </category>
      <category
            icon="icons/keras-layers.gif"
            level-id="layers"
            locked="true"
            name="Layers"
            path="/labs/deeplearning/keras">
      </category>
      <category
            icon="icons/keras-layers.gif"
            level-id="conv"
            locked="true"
            name="Convolution"
            path="/labs/deeplearning/keras/layers">
      </category>
      <category
            icon="icons/keras-layers.gif"
            level-id="pooling"
            locked="true"
            name="Pooling"
            path="/labs/deeplearning/keras/layers">
      </category>
      <category
            icon="icons/keras-layers.gif"
            level-id="merge"
            locked="true"
            name="Merge"
            path="/labs/deeplearning/keras/layers">
      </category>
      <category
            icon="icons/keras-layers.gif"
            level-id="noise"
            locked="true"
            name="Noise"
            path="/labs/deeplearning/keras/layers">
      </category>
      <category
            icon="icons/keras-layers.gif"
            level-id="locally"
            locked="true"
            name="Locally Connected"
            path="/labs/deeplearning/keras/layers">
      </category>
      <category
      		icon="icons/keras-layers.gif"
            level-id="advancedactivations"
            locked="true"
            name="Advanced Activations"
            path="/labs/deeplearning/keras/layers">
      </category>
      <category
            icon="icons/keras-layers.gif"
            level-id="normalization"
            locked="true"
            name="Normalization"
            path="/labs/deeplearning/keras/layers">
      </category>
	  <category
            icon="icons/keras-layers.gif"
            level-id="recurrent"
            locked="true"
            name="Recurrent"
            path="/labs/deeplearning/keras/layers">
      </category>
   <category
         icon="icons/keras-layers.gif"
         level-id="core"
         locked="true"
         name="Core"
         path="/labs/deeplearning/keras/layers">
   </category>
   <category
         icon="icons/keras-layers.gif"
         level-id="embedding"
         locked="true"
         name="Embedding"
         path="/labs/deeplearning/keras/layers">
   </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.learner.DLKerasLearnerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.reader.DLKerasReaderNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.export.DLKerasExporterNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/merge"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.merge.add.DLKerasAddLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.dense.DLKerasDenseLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.dropout.DLKerasDropoutLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.activation.DLKerasActivationLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/merge"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.merge.concatenate.DLKerasConcatenateLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.flatten.DLKerasFlattenLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"   
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.input.DLKerasInputLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasConv1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasConv2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasSeparableConv1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasSeparableConv2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasConv2DTransposeLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasConv3DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasCropping1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasCropping2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasCropping3DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasUpSampling1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasUpSampling2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasUpSampling3DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasZeroPadding1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasZeroPadding2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/conv"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.conv.DLKerasZeroPadding3DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasMaxPooling1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasMaxPooling2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasMaxPooling3DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasGlobalMaxPooling1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasGlobalMaxPooling2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasGlobalAveragePooling1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasGlobalAveragePooling2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasAveragePooling1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasAveragePooling2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/pooling"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.pooling.DLKerasAveragePooling3DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.reshape.DLKerasReshapeLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.masking.DLKerasMaskingLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.activityregularization.DLKerasActivityRegularizationLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.repeat.DLKerasRepeatLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/core"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.core.permute.DLKerasPermuteLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/noise"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.noise.gaussiannoise.DLKerasGaussianNoiseLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/noise"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.noise.gaussiandropout.DLKerasGaussianDropoutLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/noise"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.noise.alphadropout.DLKerasAlphaDropoutLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/locally"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.locally.DLKerasLocallyConnected1DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/locally"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.locally.DLKerasLocallyConnected2DLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/advancedactivations"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.advancedactivation.lrelu.DLKerasLReLULayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/advancedactivations"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.advancedactivation.prelu.DLKerasPReLULayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/advancedactivations"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.advancedactivation.trelu.DLKerasTReLULayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/advancedactivations"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.advancedactivation.elu.DLKerasELULayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/advancedactivations"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.advancedactivation.softmax.DLKerasSoftmaxLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/normalization"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.normalization.DLKerasBatchNormalizationLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/embedding"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.embedding.DLKerasEmbeddingLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/merge"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.merge.dot.DLKerasDotLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/merge"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.merge.multiply.DLKerasMultiplyLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/merge"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.merge.maximum.DLKerasMaximumLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/merge"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.merge.average.DLKerasAverageLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/merge"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.merge.subtract.DLKerasSubtractLayerNodeFactory">
      </node>
	  <node
            category-path="/labs/deeplearning/keras/layers/recurrent"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.recurrent.lstm.DLKerasLSTMLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/recurrent"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.recurrent.gru.DLKerasGRULayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/recurrent"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.recurrent.simplernn.DLKerasSimpleRNNLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/recurrent"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.recurrent.cudnngru.DLKerasCuDNNGRULayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/recurrent"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.recurrent.cudnnlstm.DLKerasCuDNNLSTMLayerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras/layers/recurrent"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.layers.recurrent.convlstm2d.DLKerasConvLSTM2DLayerNodeFactory">
      </node>
  </extension>
   <extension
         point="org.knime.dl.DLNetworkExporter">
      <DLNetworkExporter
            DLNetworkExporter="org.knime.dl.keras.core.export.DLKerasH5NetworkExporter">
      </DLNetworkExporter>
   </extension>
</plugin>
