<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
 <extension
         point="org.knime.core.PortType">
      <portType
            color="#8fb3c2"
            hidden="false"
            name="Keras Deep Learning Network"
            objectClass="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObject"
            objectSerializer="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObject$Serializer"
            specClass="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObjectSpec"
            specSerializer="org.knime.dl.keras.base.portobjects.DLKerasNetworkPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#8fb3c2"
            hidden="false"
            name="Keras Deep Learning Network"
            objectClass="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObject"
            objectSerializer="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObject$Serializer"
            specClass="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObjectSpec"
            specSerializer="org.knime.dl.keras.base.portobjects.DLKerasUnmaterializedNetworkPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.dl.DLExecutionContext">
      <DLExecutionContext
            DLExecutionContext="org.knime.dl.keras.cntk.core.execution.DLKerasCNTKDefaultExecutionContext">
      </DLExecutionContext>
      <DLExecutionContext
            DLExecutionContext="org.knime.dl.keras.tensorflow.core.execution.DLKerasTensorFlowDefaultExecutionContext">
      </DLExecutionContext>
      <DLExecutionContext
            DLExecutionContext="org.knime.dl.keras.theano.core.execution.DLKerasTheanoDefaultExecutionContext">
      </DLExecutionContext>
   </extension>
   <extension
         point="org.knime.dl.DLTensorFactory">
      <DLTensorFactory
            DLTensorFactory="org.knime.dl.keras.cntk.core.DLKerasCNTKTensorFactory">
      </DLTensorFactory>
      <DLTensorFactory
            DLTensorFactory="org.knime.dl.keras.tensorflow.core.DLKerasTensorFlowTensorFactory">
      </DLTensorFactory>
      <DLTensorFactory
            DLTensorFactory="org.knime.dl.keras.theano.core.DLKerasTheanoTensorFactory">
      </DLTensorFactory>
   </extension>
   <extension
         point="org.knime.dl.DLTrainingContext">
      <DLTrainingContext
            DLTrainingContext="org.knime.dl.keras.cntk.core.training.DLKerasCNTKDefaultTrainingContext">
      </DLTrainingContext>
      <DLTrainingContext
            DLTrainingContext="org.knime.dl.keras.tensorflow.core.training.DLKerasTensorFlowDefaultTrainingContext">
      </DLTrainingContext>
      <DLTrainingContext
            DLTrainingContext="org.knime.dl.keras.theano.core.training.DLKerasTheanoDefaultTrainingContext">
      </DLTrainingContext>
   </extension>
   <extension
         point="org.knime.dl.python.DLPythonNetworkLoader">
      <DLPythonNetworkLoader
            DLPythonNetworkLoader="org.knime.dl.keras.cntk.core.DLKerasCNTKNetworkLoader">
      </DLPythonNetworkLoader>
      <DLPythonNetworkLoader
            DLPythonNetworkLoader="org.knime.dl.keras.theano.core.DLKerasTheanoNetworkLoader">
      </DLPythonNetworkLoader>
      <DLPythonNetworkLoader
            DLPythonNetworkLoader="org.knime.dl.keras.tensorflow.core.DLKerasTensorFlowNetworkLoader">
      </DLPythonNetworkLoader>
   </extension>
   <extension
         point="org.knime.python.modules">
      <directory
            path="py/">
      </directory>
   </extension>
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/keras.png"
            level-id="keras"
            locked="true"
            name="Keras"
            path="/labs/deeplearning">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.learner.DLKerasLearnerNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.keras.base.nodes.reader.DLKerasReaderNodeFactory">
      </node>
  </extension>
</plugin>
