<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.python2.modules">
      <directory
            path="py/">
      </directory>
   </extension>
   <extension
         point="org.knime.python.typeextension.knimetopython">
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonDoubleBufferSerializerFactory"
            java-serializer-factory="org.knime.dl.python.core.data.serde.DLPythonDoubleBufferSerializerFactory"
            python-deserializer="py/DLPythonDoubleBufferDeserializer.py">
      </type>
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonFloatBufferSerializerFactory"
            java-serializer-factory="org.knime.dl.python.core.data.serde.DLPythonFloatBufferSerializerFactory"
            python-deserializer="py/DLPythonFloatBufferDeserializer.py">
      </type>
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonIntBufferSerializerFactory"
            java-serializer-factory="org.knime.dl.python.core.data.serde.DLPythonIntBufferSerializerFactory"
            python-deserializer="py/DLPythonIntBufferDeserializer.py">
      </type>
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonLongBufferSerializerFactory"
            java-serializer-factory="org.knime.dl.python.core.data.serde.DLPythonLongBufferSerializerFactory"
            python-deserializer="py/DLPythonLongBufferDeserializer.py">
      </type>
   </extension>
   <extension
         point="org.knime.python.typeextension.pythontoknime">
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonDoubleBufferDeserializerFactory"
            java-deserializer-factory="org.knime.dl.python.core.data.serde.DLPythonDoubleBufferDeserializerFactory"
            python-serializer="py/DLPythonDoubleBufferSerializer.py"
            python-type-identifier="DLPythonDataBuffers.DLPythonDoubleBuffer">
      </type>
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonFloatBufferDeserializerFactory"
            java-deserializer-factory="org.knime.dl.python.core.data.serde.DLPythonFloatBufferDeserializerFactory"
            python-serializer="py/DLPythonFloatBufferSerializer.py"
            python-type-identifier="DLPythonDataBuffers.DLPythonFloatBuffer">
      </type>
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonIntBufferDeserializerFactory"
            java-deserializer-factory="org.knime.dl.python.core.data.serde.DLPythonIntBufferDeserializerFactory"
            python-serializer="py/DLPythonIntBufferSerializer.py"
            python-type-identifier="DLPythonDataBuffers.DLPythonIntBuffer">
      </type>
      <type
            id="org.knime.dl.python.core.data.serde.DLPythonLongBufferDeserializerFactory"
            java-deserializer-factory="org.knime.dl.python.core.data.serde.DLPythonLongBufferDeserializerFactory"
            python-serializer="py/DLPythonLongBufferSerializer.py"
            python-type-identifier="DLPythonDataBuffers.DLPythonLongBuffer">
      </type>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.python.base.node.creator.DLPythonCreatorNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.python.base.node.editor.DLPythonEditorNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.python.base.node.executor.DLPythonExecutorNodeFactory">
      </node>
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.python.base.node.learner.DLPythonLearnerNodeFactory">
      </node>
   </extension>
</plugin>
