<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.dl.DLExecutionContext">
   </extension>
   <extension
         point="org.knime.dl.DLLayerDataFactory">
   </extension>
   <extension
         point="org.knime.dl.DLNetworkType">
   </extension>
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/category.png"
            level-id="dl4j"
            locked="true"
            name="Deeplearning4j"
            path="/labs/deeplearning">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
  </extension>
</plugin>
