<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="DLExecutionContext" name="DLExecutionContext" schema="schema/org.knime.dl.DLExecutionContext.exsd"/>
   <extension-point id="DLLayerDataFactory" name="DLLayerDataFactory" schema="schema/org.knime.dl.DLLayerDataFactory.exsd"/>
   <extension-point id="DLDataValueToLayerDataConverterFactory" name="DLDataValueToLayerDataConverterFactory" schema="schema/org.knime.dl.DLDataValueToLayerDataConverterFactory.exsd"/>
   <extension-point id="DLLayerDataToDataCellConverterFactory" name="DLLayerDataToDataCellConverterFactory" schema="schema/org.knime.dl.DLLayerDataToDataCellConverterFactory.exsd"/>
   <extension-point id="DLNetworkReader" name="DLNetworkReader" schema="schema/org.knime.dl.DLNetworkReader.exsd"/>
   <extension-point id="DLNetworkType" name="DLNetworkType" schema="schema/org.knime.dl.DLNetworkType.exsd"/>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#8fb3c2"
            hidden="false"
            name="Deep Learning Network"
            objectClass="org.knime.dl.base.portobjects.DLDefaultNetworkPortObject"
            objectSerializer="org.knime.dl.base.portobjects.DLDefaultNetworkPortObject$Serializer"
            specClass="org.knime.dl.base.portobjects.DLDefaultNetworkPortObjectSpec"
            specSerializer="org.knime.dl.base.portobjects.DLDefaultNetworkPortObjectSpec$Serializer">
      </portType>
      <portType
            color="#8fb3c2"
            hidden="false"
            name="Deep Learning Network"
            objectClass="org.knime.dl.base.portobjects.DLExternalNetworkPortObject"
            objectSerializer="org.knime.dl.base.portobjects.DLExternalNetworkPortObject$Serializer"
            specClass="org.knime.dl.base.portobjects.DLDefaultNetworkPortObjectSpec"
            specSerializer="org.knime.dl.base.portobjects.DLDefaultNetworkPortObjectSpec$Serializer">
      </portType>
   </extension>
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/category.png"
            level-id="deeplearning"
            locked="false"
            name="Deep Learning"
            path="/labs">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/deeplearning/keras"
            deprecated="false"
            factory-class="org.knime.dl.base.nodes.executor.DLExecutorNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.dl.DLDataValueToLayerDataConverterFactory">
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLBitVectorToBitLayerConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLBooleanValueToBitLayerConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLByteVectorToByteLayerConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLDoubleValueToDoubleLayerConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLDoubleValueToFloatLayerConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLIntValueToFloatLayerDataConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLIntValueToIntLayerConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLLongValueToDoubleLayerDataConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
      <DLDataValueToLayerDataConverterFactory
            DLDataValueToLayerDataConverterFactory="org.knime.dl.core.data.convert.DLLongValueToLongLayerDataConverterFactory">
      </DLDataValueToLayerDataConverterFactory>
   </extension>
   <extension
         point="org.knime.dl.DLLayerDataToDataCellConverterFactory">
      <DLLayerDataToDataCellConverterFactory
            DLLayerDataToDataCellConverterFactory="org.knime.dl.core.data.convert.DLDoubleLayerDataToDoubleCellConverterFactory">
      </DLLayerDataToDataCellConverterFactory>
      <DLLayerDataToDataCellConverterFactory
            DLLayerDataToDataCellConverterFactory="org.knime.dl.core.data.convert.DLIntLayerDataToIntCellConverterFactory">
      </DLLayerDataToDataCellConverterFactory>
      <DLLayerDataToDataCellConverterFactory
            DLLayerDataToDataCellConverterFactory="org.knime.dl.core.data.convert.DLLongLayerDataToLongCellConverterFactory">
      </DLLayerDataToDataCellConverterFactory>
   </extension>
</plugin>
